:root{
    --alb: #fbf2c0;
    --maroDeschis: #48392A;
    --maroInchis: #43281C;
    --rosuInchis: #c06e52;
    --rosuDeschis: #f96f5d;
    --verdeDeschis: #576b23;
    --verdeInchis: #155709;
    --galben: #f9f871;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body{
    display: flex;
    font-size: 1.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    width: 20%;
    background-color: var(--maroInchis);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2); 
    border-radius: 0 15px 15px 0; 
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}


.sidebar li {
    margin-bottom: 40px;
    margin-top: 50px;
    margin-right: 20px;
}


.sidebar li a {
    color: var(--alb);
    text-decoration: none; 
    font-size: 2rem;
}

.sidebar li a:hover {
    color: var(--rosuDeschis);
    transition: color .2s ease-in-out;
}


.main{
    flex: 80%;
    background-color: var(--rosuDeschis);
    color: var(--alb);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 250px;
    padding-left: 200px;
}

.task-list{
    line-height: 1.7;
    font-size: 1.2rem;
    list-style: circle;
    padding-left: 20px;
}

.new{
    border: 0;
    border-bottom: 1px solid currentColor;
    background: transparent;
    color: inherit;
    font-size: inherit;
    outline: none;
    transition: border-bottom .15s ease-in;
}

.new.list{
    font-size: 1.2rem;
}

.new.task{
    margin-bottom: 0;
}



.new:focus{
    border-bottom-width: 3px;
}

.new:focus::placeholder{
    opacity: 0.6;
}

.isactive-list{
    font-weight: 750;
    color: var(--galben);
}

.btn{
    cursor: pointer;
    background: 0;
    color: inherit;
    padding: 0;
    border: 0;
}

.btn.list, .btn.task{
    font-size: 1.2rem;
    font-weight: 800;
    transition: opacity .15s ease-in;
}

.btn.task::after{
    display: none;
}

.btn.list:hover, .btn.task:hover{
    opacity: 0.6;
    transition: opacity .15s ease-in;
}

.all-tasks {
    background-color: var(--verdeInchis); 
    padding: 20px;
    border-radius: 10px;
}

.to-do-header{
    background-color: var(--verdeInchis);
    padding: 20px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.to-do-body{
    background-color: var(--verdeDeschis);
    padding: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.task-count{
    font-size: 1rem;
}

.list-title{
    margin: 0 1rem 0 0;
}

.list-name{
    cursor: pointer;
}

.list-name:hover{
    opacity: 0.6;
    transition: opacity .15s ease-in;
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

.task label{
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.task::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -.5em;
    height: 1px;
    background-color: currentColor;
    opacity: 0.2;
}

.task{
    position: relative;
    margin-bottom: 1.5em;
}

.custom-checkbox{
    --size:0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 30%;
    margin-right: var(--size);
    transform: scale(1);
    transition: transform .15s ease-in-out;
}

.task:hover .custom-checkbox, [type="checkbox"]:focus + label .custom-checkbox{
    transform: scale(1.2);
    color: var(--rosuDeschis);
}

[type="checkbox"]:checked + label .custom-checkbox{
    background: var(--rosuDeschis);
    border-color: var(--rosuDeschis);
    box-shadow: inset 0 0 0px 2px var(--verdeDeschis);
}

[type="checkbox"]:checked + label{
    opacity: 0.6;
}

.task label::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: currentColor;
    left: 1.45em;
    top: 50%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .15s ease-in-out;
}

[type="checkbox"]:checked + label::after{
    transform: scaleX(1);
    transform-origin: left;
}

.delete{
    display: flex;
    justify-content: space-evenly;
}

.btn.delete{
    opacity: 0.6;
    font-size: 1rem;
    transition: color .15s ease-in;
}

.btn.delete:hover{
    color: var(--rosuDeschis);
}

@media(max-height: 650px){
    .main{
        padding-bottom: 0;
    }
}

@media(min-width: 650px){
    .burger{
        display: none;
    }
    .ics{
        display: none;
    }
}

@media(max-width: 850px)
{
    .main{
        flex-direction: column;
        padding-bottom: 0;
    }
    .burger
    {
        position: fixed;
        top: 20px;
        right: 20px;
    }
}

@media(max-width: 650px){
    .all-tasks{
        width: 80%;
    }
    
    .to-do-header{
        padding: 5px;
    }
    .to-do-body{
        padding: 5px;
    }
    
    .main{
        padding-left: 0px;
        flex: 100%;
    }
    .sidebar{
        width: 100%;
    }
    
}