:root{
    --alb: #fbf2c0;
    --maroDeschis: #48392A;
    --maroInchis: #43281C;
    --rosuInchis: #c06e52;
    --rosuDeschis: #f96f5d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

header{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background-color: var(--maroInchis);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}



header .logo{
    color: var(--alb);
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}

nav a{
    color: var(--alb);
    font-size: 22px;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
    transition: .3s;
}

nav a svg path{
    transition: .3s;
}

nav a:hover,
nav a.active{
    color: var(--rosuDeschis);
}

nav a:hover svg path,
nav a.active svg path {
    fill: var(--rosuDeschis);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 250px;
    background-color: var(--maroInchis);
    box-shadow: -5px 0 10px rgba(0,0,0,0.1);
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start;
    list-style-type: none;
}
.sidebar li {
    margin-bottom: 20px;
    margin-top: 30px;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rosuInchis);
    color: var(--alb);
    font-weight: 700;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
}



section:nth-child(odd){
    background-color: var(--rosuDeschis);
}

.sections{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.menu-button{
    display: none;
}

.container{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
}
.main{
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#check{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: var(--alb);
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: var(--alb);
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: var(--alb);
	background: var(--maroInchis);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: var(--maroDeschis);
}
.login{
	height: 460px;
	background: var(--alb);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: var(--maroInchis);
	transform: scale(.6);
}

#check:checked ~ .login{
	transform: translateY(-500px);
}
#check:checked ~ .login label{
	transform: scale(1);	
}
#check:checked ~ .signup label{
	transform: scale(.6);
}


.sect1 {
    position: relative;
    width: 100%;
    height: 100vh; 
    flex-direction: column;
}

h1 {
    font-size: 3.5em;
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }  

.sect2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.about-text{
    flex: 1;
    font-size: 4.0em;
}

.about{
    flex: 1;
    background-color: var(--maroInchis);
    position: relative;
    height: 70vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 5px 10px 30px #000;
}

.textAbout{
    width:80%;
    font-size: 2.0em;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 500px){
    .main,.container{
        width: 300px;
        height: 350px;
    }
    #check:checked ~ .login{
        transform: translateY(-350px);
    }
    .sect2{
        font-size: 10px;
    }
    .sidebar{
        width: 100%;
    }
    .sect2{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .about{
        background-color: var(--maroInchis);
        position: relative;
        height: 60vh;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        margin: 100px auto;
        border-radius: 10px;
        box-shadow: 5px 10px 30px #000;
    }
    .about-text{
        display: none;
    }
    .welcome{
        font-size: 2.0em;
    }
}

@media(max-height: 600px){
    .main,.container{
        width: 300px;
        height: 350px;
    }
    #check:checked ~ .login{
        transform: translateY(-350px);
    }
}   