:root {
    --alb: #fbf2c0;
    --maroDeschis: #48392A;
    --maroInchis: #43281C;
    --rosuInchis: #c06e52;
    --rosuDeschis: #f96f5d;
    --verdeDeschis: #576b23;
    --verdeInchis: #155709;
    --galben: #f9f871;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    display: flex;
    font-size: 1.5rem;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    background-color: var(--maroInchis);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0 15px 15px 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.sidebar li {
    margin-bottom: 40px;
    margin-top: 50px;
    margin-right: 20px;
}

.sidebar li a {
    color: var(--alb);
    text-decoration: none;
    font-size: 2rem;
}

.sidebar li a:hover {
    color: var(--rosuDeschis);
    transition: color .2s ease-in-out;
}

.main {
    flex: 80%;
    background-color: var(--rosuDeschis);
    color: var(--alb);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 220px;
}

.burger {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
}

.ics {
    display: none;
}

.add-list-btn {
    background-color: var(--maroInchis);
    color: var(--alb);
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
}

.add-list-btn:hover {
    background-color: var(--maroDeschis);
}

.lists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    padding-left: 20px;
}

#list-products .product-item {
    padding-bottom: 5px; 
    border-bottom: 1px solid #000000; 
    margin-bottom: 5px; 
  }


  #list-statistics p{
    padding-bottom: 5px; 
    border-bottom: 1px solid #000000; 
    margin-bottom: 5px; 
  }
.title {
    color: var(--alb);
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

.list-item {
    background-color: var(--alb);
    color: var(--maroInchis);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    flex: 1 1 300px; 
}

@keyframes leafFall {
    0% {
        transform: translateY(-100vh) translateX(0) rotate(0deg) ;
        opacity: 0;
    }
    25% {
        transform: translateY(-75vh) translateX(500px) rotate(-20deg) scale(1.3);
    }
    50% {
        transform: translateY(-50vh) translateX(-500px) rotate(20deg) scale(1.2);
    }
    75% {
        transform: translateY(-25vh) translateX(250px) rotate(-20deg) scale(1.1);
    }
    90% {
        transform: translateY(0) translateX(0) rotate(0deg) scale(1);
        opacity: 1;
    }
    95% {
        transform: translateY(0) translateX(0) rotate(0deg) scale(0.9);
    }
    100% {
        transform: translateY(0) translateX(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes darkenBackground {
    from {
        background-color: rgba(0, 0, 0, 0);
        
    }
    to {
        background-color: rgba(0, 0, 0, 0.4);
        
    }
    
}



.popup {
    display: none;
    position: fixed; 
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    animation: leafFall 3s ease-in-out forwards, darkenBackground 1s ease-in-out 3s forwards;
    
}




.popup-content {
    background-color: var(--alb);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--maroInchis);
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    color: var(--maroInchis);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--rosuDeschis);
    text-decoration: none;
    cursor: pointer;
}



.create-list-btn {
    background-color: var(--maroInchis);
    color: var(--alb);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 10px;
}

.create-list-btn:hover {
    background-color: var(--maroDeschis);
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--maroInchis);
    border-radius: 5px;
}



.lists-container > * {
    cursor: pointer;
}



@media (max-width: 650px) {

    .sidebar {
        width: 100%;
        display: none;
      }

    .main {
        padding-left: 0px;
        flex: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .ics {
        display: block;
    }
    
}