:root {
  --alb: #fbf2c0;
  --maroDeschis: #48392A;
  --maroInchis: #43281C;
  --rosuInchis: #c06e52;
  --rosuDeschis: #f96f5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background-color: var(--rosuDeschis);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  background-color: var(--maroInchis);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 40px;
  margin-top: 50px;
  margin-right: 20px;
}


.sidebar li a {
  color: var(--alb);
  text-decoration: none;
  font-size: 2rem;
}

.sidebar li a:hover {
  color: var(--rosuDeschis);
  transition: color .2s ease-in-out;
}


.main {
  position: fixed;
  width: 80%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--rosuDeschis);
  color: var(--alb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 250px;
  padding-left: 200px;
}

.username-display {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: flex-end;
  position: absolute;
  top: 70px;
  left: 40px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

#profileImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#changePictureButton {
  margin-top: 20px;
  background-color: var(--rosuInchis);
  color: var(--alb);
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  margin-right: 19px;
}

#changePictureButton:hover {
  background-color: var(--maroDeschis);
}

.user-collections {
  font-size: 1.2rem;
  margin-left: 400px;
}

.preferinte {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: var(--alb);
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.produse {
  position: fixed;
  bottom: 0;
  right: 1.5%;
  width: 77%;
  height: 45%;
  background-color: var(--alb);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.mancare {
  flex-basis: 150px;
  height: 150px;
  margin: 2%;
  box-sizing: border-box;
  background-image: url('../html/paste.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

@media (max-width: 900px) {
  .mancare {
    flex-basis: 30%;
  }
}


@media (max-width: 600px) {
  .mancare {
    flex-basis: 45%;
  }
}

@media(min-width: 650px) {
  .burger {
    display: none;
  }

  .ics {
    display: none;
  }

}

@media(max-width: 850px) {
  .burger {
    position: fixed;
    top: 10px;
    left: 20px;
  }
}

@media(max-width: 650px) {
  .sidebar {
    width: 100%;
    z-index: 999;
  }

  .burger {
    display: flex;
    z-index: 998;
  }

  .ics {
    display: flex;
  }

  .main {
    width: 100%;
  }
}



@media (max-width: 900px) {
  .mancare {
    flex-basis: 30%;
  }
}


@media (max-width: 600px) {
  .mancare {
    flex-basis: 45%;
  }
}