:root{
  --alb: #fbf2c0;
  --maroDeschis: #48392A;
  --maroInchis: #43281C;
  --rosuInchis: #c06e52;
  --rosuDeschis: #f96f5d;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body{
  background-color: var(--maroDeschis);
}

.sidebar {
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 20%;
  background-color: var(--maroInchis);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2); 
  border-radius: 0 15px 15px 0; 
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 40px;
  margin-top: 50px;
  margin-right: 20px;
}

.sidebar li a {
  color: var(--alb);
  text-decoration: none; 
  font-size: 2rem;
}

.sidebar li a:hover {
  color: var(--rosuDeschis);
  transition: color .2s ease-in-out;
}

.search-bar {
  position: fixed;
  left: 20%; 
  top: 2%; 
  border: none;
  outline: none;
  border-bottom: 2px solid var(--alb);
  background: transparent;
  width: 80%;
  padding: 10px;
  color: var(--alb);
  margin-right: 5%;
  font-size: 1.5em;
}








.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  width: 80%;
  max-width: 600px;
  background-color: var(--alb);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 80%;
  animation: popupAnimation 0.3s ease-out;
}

@keyframes popupAnimation {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes popupHideAnimation {
  from {
      opacity: 1;
      transform: scale(1);
  }
  to {
      opacity: 0;
      transform: scale(0.9);
  }
}

.popup-hide {
  animation: popupHideAnimation 0.3s ease-in;
}

.popup-content {
  position: relative;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.popup-content p {
  margin: 10px 0;
}

.popup-content ul {
  list-style-type: none;
  padding: 0;
}

.popup-content ul li {
  margin: 5px 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-btn svg {
  width: 100%;
  height: 100%;
  fill: #333;
}

.close-btn:hover svg {
  fill: #000;
}






.indicatie {
  position: fixed;
 
  left: 20%; 
  width: 80%; 
  height: 7.0em;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 2.0em;
  color: var(--alb);
}

.categorii {
  position: fixed;
  top: 23%; 
  left: 20%; 
  width: 80%; 
  height: 8.0em;
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding: 10px;
}

.categorii button {
  padding: 10px 15px;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--rosuInchis);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  
}

.categorii button:hover {
  background-color: #0056b3;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--rosuInchis);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0; /* Initially hidden */
  transform: translateY(-10px); /* Initially translated up */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-content a:hover {
  background-color: var(--alb);
  border-radius: 5px;
}

.dropdown-content.show {
  display: block;
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Reset translation */
}


.show {
  display: block;
}

.produse {
  position: fixed;
  top: 45%;
  right: 1.5%;
  width: 77%;
  height: 55%;
  background-color: var(--rosuInchis);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: top 0.3s ease, height 0.3s ease, margin-top 0.3s ease; /* Smooth transitions */
}

.mancare {
  
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  margin: 25px;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
  border: 10px solid blanchedalmond;
  border-radius: 10px;
}

.mancare:hover {
  transform: scale(1.05);
  filter: brightness(0.7);
}



@media(min-width: 650px){
  .burger{
      display: none;
  }
  .ics{
      display: none;
  }
}

@media(max-width: 850px) {
  .burger {
      position: fixed;
      top: 10px;
      left: 20px;
  }
}

@media(max-width: 650px) {
  .sidebar {
      width: 100%;
  }
  .produse {
      width: 90%;
      position: fixed;
      bottom: 0;
      right: 5%;
      left: 5%;
  }
  .search-bar {
      position: fixed;
      top: 10%;
      left: 5%;
      width: 90%;
  }
  .indicatie {
      position: fixed;
      top: 5%;
      left: 5%;
      width: 90%;
  }
  .categorii {
      position: fixed;
      left: 5%;
      width: 90%;
      
  }
}

@media (max-width: 900px) {
  .mancare {
    flex-basis: 30%;
  }
}

@media (max-width: 600px) {
  .mancare {
    flex-basis: 45%; 
  }
}
