:root {
  --alb: #fbf2c0;
  --maroDeschis: #48392A;
  --maroInchis: #43281C;
  --rosuInchis: #c06e52;
  --rosuDeschis: #f96f5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background-color: var(--rosuDeschis);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  background-color: var(--maroInchis);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 40px;
  margin-top: 50px;
  margin-right: 20px;
}


.sidebar li a {
  color: var(--alb);
  text-decoration: none;
  font-size: 2rem;
}

.sidebar li a:hover {
  color: var(--rosuDeschis);
  transition: color .2s ease-in-out;
}


.main {
  position: fixed;
  width: 80%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--rosuDeschis);
  color: var(--alb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 250px;
  padding-left: 200px;
}

.username-display {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: flex-end;
  position: absolute;
  top: 70px;
  left: 40px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

#profileImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#changePictureButton {
  margin-top: 20px;
  background-color: var(--rosuInchis);
  color: var(--alb);
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  margin-right: 19px;
}

#changePictureButton:hover {
  background-color: var(--maroDeschis);
}

.user-preferences {
  font-size: 1.2rem;
  margin-left: 400px;
}

.preferinte {
  position: fixed;
  top: 45%;
  right: 1.5%;
  width: 77%;
  height: 55%;
  background-color: var(--maroDeschis);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.produse {
  position: fixed;
  bottom: 0;
  right: 1.5%;
  width: 77%;
  height: 45%;
  background-color: var(--alb);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  width: 80%;
  max-width: 600px;
  background-color: var(--alb);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 80%;
  animation: popupAnimation 0.3s ease-out;
}

@keyframes popupAnimation {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes popupHideAnimation {
  from {
      opacity: 1;
      transform: scale(1);
  }
  to {
      opacity: 0;
      transform: scale(0.9);
  }
}

.popup-hide {
  animation: popupHideAnimation 0.3s ease-in;
}

.popup-content {
  position: relative;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.popup-content p {
  margin: 10px 0;
}

.popup-content ul {
  list-style-type: none;
  padding: 0;
}

.popup-content ul li {
  margin: 5px 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-btn svg {
  width: 100%;
  height: 100%;
  fill: #333;
}

.close-btn:hover svg {
  fill: #000;
}

.mancare {
  
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  margin: 25px;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
  border: 10px solid blanchedalmond;
  border-radius: 10px;
}

.mancare:hover {
  transform: scale(1.05);
  filter: brightness(0.7);
}


@media (max-width: 900px) {
  .mancare {
    flex-basis: 30%;
  }
}


@media (max-width: 600px) {
  .mancare {
    flex-basis: 45%;
  }
}

@media(min-width: 650px) {
  .burger {
    display: none;
  }

  .ics {
    display: none;
  }

}

@media(max-width: 850px) {
  .burger {
    position: fixed;
    top: 10px;
    left: 20px;
  }
}

@media(max-width: 650px) {
  .sidebar {
    width: 100%;
    z-index: 999;
  }

  .burger {
    display: flex;
    z-index: 998;
  }

  .ics {
    display: flex;
  }

  .main {
    width: 100%;
  }
}



@media (max-width: 900px) {
  .mancare {
    flex-basis: 30%;
  }
}


@media (max-width: 600px) {
  .mancare {
    flex-basis: 45%;
  }
}